.side_bar {
  width: 200px;
  height: 600px;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px 25px;
}
.name_image {
  display: flex;
  align-items: center;
  gap: 22px;
  background-color: #fff;
  padding-bottom: 13px;
  padding-top: 2px;
  border-bottom: 2px solid #ebf2f7;
}

.doctor_image {
  width: 50px;
  border-radius: 50px;
}
.doctor_name {
  font-size: 15px;
  font-weight: 700;
}
.sidedar_menu {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}
.sidedar_text,
.retrun_button_text {
  font-size: 15px;
  color: #52575d;
  cursor: pointer;
  font-weight: 600;
}
.sidebar_icon {
  color: #d0dbe5;
}
.hover_efect:hover {
  color: #508ff4;
  transition: 0.3s;
}

.list_details {
  font-size: 15px;
  color: #52575d;
  font-weight: 600;
  margin-left: 55px;
  margin-top: 0px;
}
.menu_last {
  color: #508ff4;
  cursor: pointer;
}
.retrun_button {
  border-top: 2px solid #ebf2f7;
  margin-top: 265px;
  padding-top: 7px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.sidedar_menu {
  margin-left: 16px;
}
.sidebar_retrun_button {
  margin-left: 13px;
}
